<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>api calling</title>
</head>
<body>
    <center>
        <table border="1">
            <tr>
                <th>NO</th>
                <th>Image</th>
                <th>name</th>
                <th>action</th>
            </tr>
            <tbody>
                <% data.map((ctegory,i)=> { %>
                    <tr>
                        <td><%= ++i %></td>
                        <td><%= ctegory.name %></td>
                        <td>
                            <img src="<%= ctegory.img %>" alt="" width="100px">
                        </td>
                        <td>
                            <% ctegory.themes.map((item)=> { %> 
                                <img src="<%= item.img %>" alt="" width="100px">
                            
                            <% }) %>
                        </td>
                        <td>
                            <a href="/themesData?id=<%= ctegory.themeId %>">Click</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </center>
</body>
</html>