<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Entry</title>
</head>
<body>
   <center>
        <h1>Here Your Data</h1>
        <table border="1" cellpadding = 10px>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>

            <tbody>
                <% record.map((item)=>{ %>
                    <tr>
                        <td> <%= item.id %></td>
                        <td><%= item.name %> </td>
                        <td> <%= item.phone %></td>
                        <td>
                           <a href="/deletedata?deleteId=<%= item.id %>">Delete</a>
                           <a href="/editdata?editid=<%= item.id %>">Edit</a>
                        </td>
                    </tr>
                <% }) %>
               
            </tbody>
        </table>
        <h2>    <a href="/add">Add</a> </h2>
   </center>
</body>
</html>